@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.menuHider{
    margin-left: -100%;
}

.workBg, .workSmallBg{
    background-image: url(../assets/images/workF1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.workBg2, .workSmallBg2{
    background-image: url(../assets/images/workF2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.workBg3, .workSmallBg3{
    background-image: url(../assets/images/workF3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
