*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.static {
  position: static;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.bottom-\[10px\] {
  bottom: 10px;
}

.left-0 {
  left: 0px;
}

.right-0 {
  right: 0px;
}

.right-\[10px\] {
  right: 10px;
}

.top-0 {
  top: 0px;
}

.top-\[101px\] {
  top: 101px;
}

.z-0 {
  z-index: 0;
}

.z-50 {
  z-index: 50;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-\[20px\] {
  margin-left: 20px;
}

.mr-\[20px\] {
  margin-right: 20px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-\[-10px\] {
  margin-top: -10px;
}

.mt-\[-20px\] {
  margin-top: -20px;
}

.mt-\[32px\] {
  margin-top: 32px;
}

.mr-5 {
  margin-right: 1.25rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.h-\[100px\] {
  height: 100px;
}

.h-\[21px\] {
  height: 21px;
}

.h-\[300px\] {
  height: 300px;
}

.h-\[400px\] {
  height: 400px;
}

.h-\[44px\] {
  height: 44px;
}

.h-\[60px\] {
  height: 60px;
}

.h-\[62px\] {
  height: 62px;
}

.h-\[64px\] {
  height: 64px;
}

.h-\[68px\] {
  height: 68px;
}

.h-\[77px\] {
  height: 77px;
}

.h-\[99px\] {
  height: 99px;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.h-\[311px\] {
  height: 311px;
}

.max-h-\[311px\] {
  max-height: 311px;
}

.max-h-\[547px\] {
  max-height: 547px;
}

.min-h-\[105\] {
  min-height: 105;
}

.min-h-\[180px\] {
  min-height: 180px;
}

.min-h-\[278px\] {
  min-height: 278px;
}

.min-h-\[301px\] {
  min-height: 301px;
}

.min-h-\[389px\] {
  min-height: 389px;
}

.min-h-\[433px\] {
  min-height: 433px;
}

.min-h-\[556px\] {
  min-height: 556px;
}

.min-h-\[559px\] {
  min-height: 559px;
}

.min-h-\[68px\] {
  min-height: 68px;
}

.min-h-\[692px\] {
  min-height: 692px;
}

.min-h-\[749px\] {
  min-height: 749px;
}

.min-h-\[840px\] {
  min-height: 840px;
}

.min-h-\[84px\] {
  min-height: 84px;
}

.min-h-\[857px\] {
  min-height: 857px;
}

.min-h-\[934px\] {
  min-height: 934px;
}

.min-h-\[547px\] {
  min-height: 547px;
}

.w-\[100\%\] {
  width: 100%;
}

.w-\[160px\] {
  width: 160px;
}

.w-\[21px\] {
  width: 21px;
}

.w-\[220px\] {
  width: 220px;
}

.w-\[44px\] {
  width: 44px;
}

.w-\[50\%\] {
  width: 50%;
}

.w-\[500px\] {
  width: 500px;
}

.w-\[77px\] {
  width: 77px;
}

.w-\[88px\] {
  width: 88px;
}

.w-full {
  width: 100%;
}

.w-\[412px\] {
  width: 412px;
}

.w-\[0px\] {
  width: 0px;
}

.w-\[490px\] {
  width: 490px;
}

.w-\[px\] {
  width: px;
}

.w-\[27px\] {
  width: 27px;
}

.w-\[270px\] {
  width: 270px;
}

.w-\[300px\] {
  width: 300px;
}

.w-\[280px\] {
  width: 280px;
}

.w-\[208px\] {
  width: 208px;
}

.max-w-\[412px\] {
  max-width: 412px;
}

.max-w-\[490px\] {
  max-width: 490px;
}

.max-w-\[300px\] {
  max-width: 300px;
}

.max-w-full {
  max-width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.place-content-center {
  place-content: center;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[30px\] {
  gap: 30px;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-y-3 {
  row-gap: 0.75rem;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-\[13px\] {
  border-radius: 13px;
}

.rounded-\[6px\] {
  border-radius: 6px;
}

.rounded-\[8px\] {
  border-radius: 8px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-bl-\[12px\] {
  border-bottom-left-radius: 12px;
}

.rounded-tl-\[12px\] {
  border-top-left-radius: 12px;
}

.border-\[2px\] {
  border-width: 2px;
}

.border-b-\[1px\] {
  border-bottom-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-\[\#E1DBD1\] {
  --tw-border-opacity: 1;
  border-color: rgb(225 219 209 / var(--tw-border-opacity));
}

.border-\[\#e6ddd2\] {
  --tw-border-opacity: 1;
  border-color: rgb(230 221 210 / var(--tw-border-opacity));
}

.bg-\[\#00000066\] {
  background-color: #00000066;
}

.bg-\[\#5700FF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(87 0 255 / var(--tw-bg-opacity));
}

.bg-\[\#F5F3F0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(245 243 240 / var(--tw-bg-opacity));
}

.bg-\[\#F7F6F3\] {
  --tw-bg-opacity: 1;
  background-color: rgb(247 246 243 / var(--tw-bg-opacity));
}

.bg-\[\#eae8e1\] {
  --tw-bg-opacity: 1;
  background-color: rgb(234 232 225 / var(--tw-bg-opacity));
}

.bg-\[\#ece8e1\] {
  --tw-bg-opacity: 1;
  background-color: rgb(236 232 225 / var(--tw-bg-opacity));
}

.bg-emerald-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(4 120 87 / var(--tw-bg-opacity));
}

.bg-green-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(134 239 172 / var(--tw-bg-opacity));
}

.bg-inherit {
  background-color: inherit;
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}

.bg-slate-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

.bg-slate-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity));
}

.bg-teal-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(94 234 212 / var(--tw-bg-opacity));
}

.bg-workF1 {
  background-image: url('./assets/images/workF1.png');
}

.p-\[30px\] {
  padding: 30px;
}

.p-\[40px\] {
  padding: 40px;
}

.p-\[50px\] {
  padding: 50px;
}

.p-\[0px\] {
  padding: 0px;
}

.p-\[px\] {
  padding: px;
}

.p-\[38px\] {
  padding: 38px;
}

.p-\[20px\] {
  padding: 20px;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.px-\[16px\] {
  padding-left: 16px;
  padding-right: 16px;
}

.px-\[24px\] {
  padding-left: 24px;
  padding-right: 24px;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.py-\[14px\] {
  padding-top: 14px;
  padding-bottom: 14px;
}

.py-\[60px\] {
  padding-top: 60px;
  padding-bottom: 60px;
}

.py-\[40px\] {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-\[30px\] {
  padding-bottom: 30px;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pt-12 {
  padding-top: 3rem;
}

.pt-\[46px\] {
  padding-top: 46px;
}

.pt-\[70px\] {
  padding-top: 70px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.font-manrope {
  font-family: Manrope;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[28px\] {
  font-size: 28px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[38px\] {
  font-size: 38px;
}

.text-\[42px\] {
  font-size: 42px;
}

.text-\[48px\] {
  font-size: 48px;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.capitalize {
  text-transform: capitalize;
}

.leading-\[21px\] {
  line-height: 21px;
}

.leading-\[22px\] {
  line-height: 22px;
}

.leading-\[24px\] {
  line-height: 24px;
}

.leading-\[27px\] {
  line-height: 27px;
}

.leading-\[30px\] {
  line-height: 30px;
}

.leading-\[32px\] {
  line-height: 32px;
}

.leading-\[42px\] {
  line-height: 42px;
}

.text-\[\#1A1A1A\] {
  --tw-text-opacity: 1;
  color: rgb(26 26 26 / var(--tw-text-opacity));
}

.text-\[\#333333\] {
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity));
}

.text-\[\#4D4D4D\] {
  --tw-text-opacity: 1;
  color: rgb(77 77 77 / var(--tw-text-opacity));
}

.text-\[\#5700FF\] {
  --tw-text-opacity: 1;
  color: rgb(87 0 255 / var(--tw-text-opacity));
}

.text-\[\#FDFDFC\] {
  --tw-text-opacity: 1;
  color: rgb(253 253 252 / var(--tw-text-opacity));
}

.opacity-\[40\%\] {
  opacity: 40%;
}

.blur-md {
  --tw-blur: blur(12px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur-\[4px\] {
  --tw-blur: blur(4px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.duration-500 {
  transition-duration: 500ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.hover\:bg-\[\#3546c8\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(53 70 200 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#ece9e5\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(236 233 229 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#f5f3f081\]:hover {
  background-color: #f5f3f081;
}

.hover\:text-\[\#353535ad\]:hover {
  color: #353535ad;
}

.active\:bg-\[\#2b3aad\]:active {
  --tw-bg-opacity: 1;
  background-color: rgb(43 58 173 / var(--tw-bg-opacity));
}

.active\:bg-\[\#e4e1db\]:active {
  --tw-bg-opacity: 1;
  background-color: rgb(228 225 219 / var(--tw-bg-opacity));
}

@media (min-width: 640px) {
  .sm\:static {
    position: static;
  }

  .sm\:absolute {
    position: absolute;
  }

  .sm\:ml-0 {
    margin-left: 0px;
  }

  .sm\:mr-0 {
    margin-right: 0px;
  }

  .sm\:mt-0 {
    margin-top: 0px;
  }

  .sm\:mt-\[-20px\] {
    margin-top: -20px;
  }

  .sm\:block {
    display: block;
  }

  .sm\:h-\[300px\] {
    height: 300px;
  }

  .sm\:h-\[400px\] {
    height: 400px;
  }

  .sm\:min-h-\[278px\] {
    min-height: 278px;
  }

  .sm\:w-\[1596px\] {
    width: 1596px;
  }

  .sm\:w-\[50\%\] {
    width: 50%;
  }

  .sm\:w-\[66\%\] {
    width: 66%;
  }

  .sm\:w-full {
    width: 100%;
  }

  .sm\:w-\[412px\] {
    width: 412px;
  }

  .sm\:w-\[\] {
    width: ;
  }

  .sm\:w-\[flex\] {
    width: flex;
  }

  .sm\:max-w-\[412px\] {
    max-width: 412px;
  }

  .sm\:max-w-\[490px\] {
    max-width: 490px;
  }

  .sm\:max-w-\[90\%\] {
    max-width: 90%;
  }

  .sm\:max-w-\[512px\] {
    max-width: 512px;
  }

  .sm\:max-w-\[612px\] {
    max-width: 612px;
  }

  .sm\:max-w-\[600px\] {
    max-width: 600px;
  }

  .sm\:flex-col {
    flex-direction: column;
  }

  .sm\:flex-col-reverse {
    flex-direction: column-reverse;
  }

  .sm\:flex-wrap {
    flex-wrap: wrap;
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:justify-center {
    justify-content: center;
  }

  .sm\:justify-around {
    justify-content: space-around;
  }

  .sm\:gap-\[10px\] {
    gap: 10px;
  }

  .sm\:gap-\[20px\] {
    gap: 20px;
  }

  .sm\:bg-inherit {
    background-color: inherit;
  }

  .sm\:p-\[40px\] {
    padding: 40px;
  }

  .sm\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .sm\:py-\[32px\] {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .sm\:py-\[60px\] {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .sm\:pb-\[30px\] {
    padding-bottom: 30px;
  }

  .sm\:pt-12 {
    padding-top: 3rem;
  }

  .sm\:pt-\[46px\] {
    padding-top: 46px;
  }

  .sm\:text-center {
    text-align: center;
  }

  .sm\:text-\[18px\] {
    font-size: 18px;
  }

  .sm\:text-\[42px\] {
    font-size: 42px;
  }

  .sm\:leading-\[22px\] {
    line-height: 22px;
  }

  .sm\:leading-\[24px\] {
    line-height: 24px;
  }

  .sm\:leading-\[44px\] {
    line-height: 44px;
  }
}

@media (min-width: 768px) {
  .md\:static {
    position: static;
  }

  .md\:ml-0 {
    margin-left: 0px;
  }

  .md\:mr-0 {
    margin-right: 0px;
  }

  .md\:mt-0 {
    margin-top: 0px;
  }

  .md\:mt-\[-20px\] {
    margin-top: -20px;
  }

  .md\:hidden {
    display: none;
  }

  .md\:h-auto {
    height: auto;
  }

  .md\:min-h-\[278px\] {
    min-height: 278px;
  }

  .md\:w-\[338px\] {
    width: 338px;
  }

  .md\:w-\[50\%\] {
    width: 50%;
  }

  .md\:w-\[500px\] {
    width: 500px;
  }

  .md\:w-\[600px\] {
    width: 600px;
  }

  .md\:w-\[630px\] {
    width: 630px;
  }

  .md\:w-\[66\%\] {
    width: 66%;
  }

  .md\:w-\[710px\] {
    width: 710px;
  }

  .md\:w-full {
    width: 100%;
  }

  .md\:w-\[412px\] {
    width: 412px;
  }

  .md\:max-w-\[412px\] {
    max-width: 412px;
  }

  .md\:max-w-\[90\%\] {
    max-width: 90%;
  }

  .md\:max-w-\[px\] {
    max-width: px;
  }

  .md\:max-w-\[700px\] {
    max-width: 700px;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:flex-col {
    flex-direction: column;
  }

  .md\:flex-col-reverse {
    flex-direction: column-reverse;
  }

  .md\:flex-wrap {
    flex-wrap: wrap;
  }

  .md\:items-start {
    align-items: flex-start;
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:justify-center {
    justify-content: center;
  }

  .md\:justify-around {
    justify-content: space-around;
  }

  .md\:gap-\[10px\] {
    gap: 10px;
  }

  .md\:gap-\[20px\] {
    gap: 20px;
  }

  .md\:bg-inherit {
    background-color: inherit;
  }

  .md\:p-\[40px\] {
    padding: 40px;
  }

  .md\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .md\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .md\:py-\[32px\] {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .md\:pb-0 {
    padding-bottom: 0px;
  }

  .md\:pt-0 {
    padding-top: 0px;
  }

  .md\:pt-14 {
    padding-top: 3.5rem;
  }

  .md\:text-left {
    text-align: left;
  }

  .md\:text-\[18px\] {
    font-size: 18px;
  }

  .md\:text-\[58px\] {
    font-size: 58px;
  }

  .md\:leading-6 {
    line-height: 1.5rem;
  }

  .md\:leading-\[22px\] {
    line-height: 22px;
  }

  .md\:leading-\[27px\] {
    line-height: 27px;
  }

  .md\:leading-\[52px\] {
    line-height: 52px;
  }
}

@media (min-width: 1024px) {
  .lg\:static {
    position: static;
  }

  .lg\:ml-0 {
    margin-left: 0px;
  }

  .lg\:mr-0 {
    margin-right: 0px;
  }

  .lg\:mt-0 {
    margin-top: 0px;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-auto {
    height: auto;
  }

  .lg\:min-h-\[268px\] {
    min-height: 268px;
  }

  .lg\:w-\[172px\] {
    width: 172px;
  }

  .lg\:w-\[30\%\] {
    width: 30%;
  }

  .lg\:w-\[413px\] {
    width: 413px;
  }

  .lg\:w-\[50\%\] {
    width: 50%;
  }

  .lg\:w-\[500px\] {
    width: 500px;
  }

  .lg\:w-\[52\%\] {
    width: 52%;
  }

  .lg\:w-\[630px\] {
    width: 630px;
  }

  .lg\:w-\[66\%\] {
    width: 66%;
  }

  .lg\:w-\[710px\] {
    width: 710px;
  }

  .lg\:w-full {
    width: 100%;
  }

  .lg\:w-\[412px\] {
    width: 412px;
  }

  .lg\:max-w-\[412px\] {
    max-width: 412px;
  }

  .lg\:max-w-\[90\%\] {
    max-width: 90%;
  }

  .lg\:max-w-\[700px\] {
    max-width: 700px;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:flex-wrap {
    flex-wrap: wrap;
  }

  .lg\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .lg\:items-start {
    align-items: flex-start;
  }

  .lg\:items-stretch {
    align-items: stretch;
  }

  .lg\:justify-around {
    justify-content: space-around;
  }

  .lg\:justify-evenly {
    justify-content: space-evenly;
  }

  .lg\:gap-\[10\%\] {
    gap: 10%;
  }

  .lg\:gap-\[20px\] {
    gap: 20px;
  }

  .lg\:bg-\[\#F7F6F3\] {
    --tw-bg-opacity: 1;
    background-color: rgb(247 246 243 / var(--tw-bg-opacity));
  }

  .lg\:p-\[40px\] {
    padding: 40px;
  }

  .lg\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .lg\:px-\[36px\] {
    padding-left: 36px;
    padding-right: 36px;
  }

  .lg\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .lg\:py-\[32px\] {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .lg\:pb-0 {
    padding-bottom: 0px;
  }

  .lg\:pt-0 {
    padding-top: 0px;
  }

  .lg\:pt-14 {
    padding-top: 3.5rem;
  }

  .lg\:text-left {
    text-align: left;
  }

  .lg\:text-\[18px\] {
    font-size: 18px;
  }

  .lg\:text-\[58px\] {
    font-size: 58px;
  }

  .lg\:leading-6 {
    line-height: 1.5rem;
  }

  .lg\:leading-\[27px\] {
    line-height: 27px;
  }

  .lg\:leading-\[56px\] {
    line-height: 56px;
  }
}

@media (min-width: 1280px) {
  .xl\:static {
    position: static;
  }

  .xl\:ml-0 {
    margin-left: 0px;
  }

  .xl\:mr-0 {
    margin-right: 0px;
  }

  .xl\:mt-0 {
    margin-top: 0px;
  }

  .xl\:hidden {
    display: none;
  }

  .xl\:h-auto {
    height: auto;
  }

  .xl\:min-h-\[268px\] {
    min-height: 268px;
  }

  .xl\:w-\[172px\] {
    width: 172px;
  }

  .xl\:w-\[30\%\] {
    width: 30%;
  }

  .xl\:w-\[413px\] {
    width: 413px;
  }

  .xl\:w-\[50\%\] {
    width: 50%;
  }

  .xl\:w-\[500px\] {
    width: 500px;
  }

  .xl\:w-\[62\%\] {
    width: 62%;
  }

  .xl\:w-\[630px\] {
    width: 630px;
  }

  .xl\:w-\[66\%\] {
    width: 66%;
  }

  .xl\:w-\[710px\] {
    width: 710px;
  }

  .xl\:w-full {
    width: 100%;
  }

  .xl\:w-\[412px\] {
    width: 412px;
  }

  .xl\:w-\[4px\] {
    width: 4px;
  }

  .xl\:w-\[90\%\] {
    width: 90%;
  }

  .xl\:max-w-\[412px\] {
    max-width: 412px;
  }

  .xl\:max-w-\[\] {
    max-width: ;
  }

  .xl\:max-w-\[490px\] {
    max-width: 490px;
  }

  .xl\:max-w-\[390px\] {
    max-width: 390px;
  }

  .xl\:max-w-full {
    max-width: 100%;
  }

  .xl\:max-w-\[720px\] {
    max-width: 720px;
  }

  .xl\:flex-none {
    flex: none;
  }

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:flex-wrap {
    flex-wrap: wrap;
  }

  .xl\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .xl\:items-start {
    align-items: flex-start;
  }

  .xl\:items-stretch {
    align-items: stretch;
  }

  .xl\:justify-between {
    justify-content: space-between;
  }

  .xl\:justify-around {
    justify-content: space-around;
  }

  .xl\:gap-\[10\%\] {
    gap: 10%;
  }

  .xl\:gap-\[20px\] {
    gap: 20px;
  }

  .xl\:bg-\[\#F7F6F3\] {
    --tw-bg-opacity: 1;
    background-color: rgb(247 246 243 / var(--tw-bg-opacity));
  }

  .xl\:p-\[40px\] {
    padding: 40px;
  }

  .xl\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .xl\:px-\[36px\] {
    padding-left: 36px;
    padding-right: 36px;
  }

  .xl\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .xl\:py-\[32px\] {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .xl\:pb-0 {
    padding-bottom: 0px;
  }

  .xl\:pt-0 {
    padding-top: 0px;
  }

  .xl\:pt-14 {
    padding-top: 3.5rem;
  }

  .xl\:text-left {
    text-align: left;
  }

  .xl\:text-\[18px\] {
    font-size: 18px;
  }

  .xl\:text-\[58px\] {
    font-size: 58px;
  }

  .xl\:leading-6 {
    line-height: 1.5rem;
  }

  .xl\:leading-\[27px\] {
    line-height: 27px;
  }

  .xl\:leading-\[85px\] {
    line-height: 85px;
  }
}

@media (min-width: 1536px) {
  .\32xl\:static {
    position: static;
  }

  .\32xl\:absolute {
    position: absolute;
  }

  .\32xl\:ml-0 {
    margin-left: 0px;
  }

  .\32xl\:mr-0 {
    margin-right: 0px;
  }

  .\32xl\:mt-0 {
    margin-top: 0px;
  }

  .\32xl\:mt-\[56px\] {
    margin-top: 56px;
  }

  .\32xl\:hidden {
    display: none;
  }

  .\32xl\:h-auto {
    height: auto;
  }

  .\32xl\:min-h-\[334px\] {
    min-height: 334px;
  }

  .\32xl\:min-h-\[389px\] {
    min-height: 389px;
  }

  .\32xl\:w-\[172px\] {
    width: 172px;
  }

  .\32xl\:w-\[30\%\] {
    width: 30%;
  }

  .\32xl\:w-\[46\.5\%\] {
    width: 46.5%;
  }

  .\32xl\:w-\[50\%\] {
    width: 50%;
  }

  .\32xl\:w-\[500px\] {
    width: 500px;
  }

  .\32xl\:w-\[54\%\] {
    width: 54%;
  }

  .\32xl\:w-\[58\%\] {
    width: 58%;
  }

  .\32xl\:w-\[710px\] {
    width: 710px;
  }

  .\32xl\:w-\[783px\] {
    width: 783px;
  }

  .\32xl\:w-\[412px\] {
    width: 412px;
  }

  .\32xl\:w-\[\] {
    width: ;
  }

  .\32xl\:w-\[490px\] {
    width: 490px;
  }

  .\32xl\:max-w-\[412px\] {
    max-width: 412px;
  }

  .\32xl\:max-w-full {
    max-width: 100%;
  }

  .\32xl\:max-w-\[490px\] {
    max-width: 490px;
  }

  .\32xl\:flex-row {
    flex-direction: row;
  }

  .\32xl\:flex-wrap {
    flex-wrap: wrap;
  }

  .\32xl\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .\32xl\:items-start {
    align-items: flex-start;
  }

  .\32xl\:items-stretch {
    align-items: stretch;
  }

  .\32xl\:justify-between {
    justify-content: space-between;
  }

  .\32xl\:gap-\[10\%\] {
    gap: 10%;
  }

  .\32xl\:gap-\[20px\] {
    gap: 20px;
  }

  .\32xl\:bg-\[\#F7F6F3\] {
    --tw-bg-opacity: 1;
    background-color: rgb(247 246 243 / var(--tw-bg-opacity));
  }

  .\32xl\:p-\[50px\] {
    padding: 50px;
  }

  .\32xl\:p-\[40px\] {
    padding: 40px;
  }

  .\32xl\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .\32xl\:px-\[36px\] {
    padding-left: 36px;
    padding-right: 36px;
  }

  .\32xl\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .\32xl\:pb-0 {
    padding-bottom: 0px;
  }

  .\32xl\:pt-0 {
    padding-top: 0px;
  }

  .\32xl\:pt-\[240px\] {
    padding-top: 240px;
  }

  .\32xl\:text-left {
    text-align: left;
  }

  .\32xl\:text-\[18px\] {
    font-size: 18px;
  }

  .\32xl\:text-\[58px\] {
    font-size: 58px;
  }

  .\32xl\:leading-6 {
    line-height: 1.5rem;
  }

  .\32xl\:leading-\[27px\] {
    line-height: 27px;
  }

  .\32xl\:leading-\[85px\] {
    line-height: 85px;
  }
}